{% extends "user/user_base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main_content %}

<h1 class="text-left mb-0 mt-2"> Welcome {{username}} ! </h1>

<div class="row mt-5">

	<div class="col">
		<div class="card d-flex flex-column align-items-center">
			<div class="card-body">Available Treks</div>
			<div class="card-body">{{ available_treks }}</div>
		</div>
	</div>
	
	<div class="col">
		<div class="card d-flex flex-column align-items-center">
			<div class="card-body">Booked Treks</div>
			<div class="card-body">{{ booked_treks }}</div>
		</div>
	</div>
	
	<div class="col">
		<div class="card d-flex flex-column align-items-center">
			<div class="card-body">Completed Treks</div>
			<div class="card-body">{{ complated_treks }}</div>
		</div>
	</div>
	
	<div class="col">
		<div class="card d-flex flex-column align-items-center">
			<div class="card-body">Upcoming Treks</div>
			<div class="card-body">{{ upcoming_treks }}</div>
		</div>
	</div>
	
</div>

<!-- Available Treks -->

<div class="row mt-4">

    <div class="col-12">

        <div class="card shadow-sm">

            <div class="card-header">

                <h5 class="mb-0">

                    Available Treks

                </h5>

            </div>


            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover align-middle">

                        <thead>

                            <tr>

                                <th>Trek ID</th>

                                <th>Trek Name</th>

                                <th>Location</th>

                                <th>Duration</th>

                                <th>Start Date</th>

                                <th>End Date</th>

                                <th>Slots</th>

                            </tr>

                        </thead>


                        <tbody>

                            {% for trek in available_treks %}

                            <tr>

                                <td>

                                    {{ trek.trek_id }}

                                </td>


                                <td>

                                    {{ trek.trek_name }}

                                </td>


                                <td>

                                    {{ trek.trek_location }}

                                </td>


                                <td>

                                    {{ trek.duration }}

                                    Days

                                </td>


                                <td>

                                    {{ trek.start_date }}

                                </td>


                                <td>

                                    {{ trek.end_date }}

                                </td>


                                <td>

                                    {{ trek.available_slots }}

                                </td>


                            </tr>

                            {% else %}


                            <tr>

                                <td colspan="7"
                                    class="text-center text-muted">

                                    No treks available

                                </td>

                            </tr>


                            {% endfor %}


                        </tbody>


                    </table>


                </div>


            </div>


        </div>


    </div>


</div>



<!-- My Bookings -->


<div class="row mt-4">


    <div class="col-12">


        <div class="card shadow-sm">


            <div class="card-header">


                <h5 class="mb-0">

                    My Bookings

                </h5>


            </div>



            <div class="card-body">


                <div class="table-responsive">


                    <table class="table table-hover align-middle">


                        <thead>


                            <tr>


                                <th>

                                    Booking ID

                                </th>


                                <th>

                                    Trek Name

                                </th>


                                <th>

                                    Location

                                </th>


                                <th>

                                    Status

                                </th>


                                <th>

                                    Booking Date

                                </th>


                            </tr>


                        </thead>



                        <tbody>


                            {% for booking in bookings %}


                            <tr>


                                <td>

                                    {{ booking.booking_id }}

                                </td>



                                <td>

                                    {{ booking.trek.trek_name }}

                                </td>



                                <td>

                                    {{ booking.trek.trek_location }}

                                </td>



                                <td>


                                    <span class="badge

                                        {% if booking.status == 'pending' %}

                                            text-bg-warning

                                        {% elif booking.status == 'confirmed' %}

                                            text-bg-success

                                        {% elif booking.status == 'cancelled' %}

                                            text-bg-danger

                                        {% endif %}

                                    ">

                                        {{ booking.status.title() }}

                                    </span>


                                </td>



                                <td>

                                    {{ booking.booking_date }}

                                </td>



                            </tr>



                            {% else %}


                            <tr>


                                <td colspan="5"
                                    class="text-center text-muted">

                                    No bookings found

                                </td>


                            </tr>



                            {% endfor %}


                        </tbody>


                    </table>


                </div>


            </div>


        </div>


    </div>


</div>

{% endblock %}
