.auth-btn{
    min-width: 100px;
    font-weight: 600;
    transition: transform 0.2s ease;
}

.auth-btn:hover{
    transform: scale(1.05);
}

.auth-card{
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.auth-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

#carouselTrekkingAutoplaying .carousel-item {
	aspect-ratio: 16 / 9;
}

#carouselTrekkingAutoplaying .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
	
.carousel-caption h5 {
	font-weight: 700;
	font-size: 2rem;
}

.carousel-caption p {
	font-size: 1.1rem;
}

.admin-sidebar{
    width:150px;
    overflow:hidden;
    transition:width 0.3s ease;
}

.user-sidebar{
    width:180px;
    overflow:hidden;
    transition:width 0.3s ease;
}

.staff-sidebar{
    width:180px;
    overflow:hidden;
    transition:width 0.3s ease;
}

.sidebar-item{
	white-space: nowrap;
}

.sidebar-collapsed .admin-sidebar,
.sidebar-collapsed .user-sidebar,
.sidebar-collapsed .staff-sidebar{
    width:30px;
}

.sidebar-collapsed .admin-sidebar span,
.sidebar-collapsed .user-sidebar span,
.sidebar-collapsed .staff-sidebar span{
    display:none;
}



