{% extends "admin/admin_base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main_content %}

<h1 class="dashboard-header text-left"> Admin Dashboard </h1>

<div class="row">
	<div class="col">
		<div class="card d-flex flex-column align-items-center">
			<div class="card-body">Total Bookings</div>
			<div class="card-body">{{ total_bookings }}</div>
		</div>
	</div>
	
	<div class="col">
		<div class="card d-flex flex-column align-items-center">
			<div class="card-body">Total Treks</div>
			<div class="card-body">{{ total_treks }}</div>
		</div>
	</div>
	
	<div class="col">
		<div class="card d-flex flex-column align-items-center">
			<div class="card-body">Total Users</div>
			<div class="card-body">{{ total_users }}</div>
		</div>
	</div>
	
	<div class="col">
		<div class="card d-flex flex-column align-items-center">
			<div class="card-body">Total Staff</div>
			<div class="card-body">{{ total_staff }}</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<div class="card">
		
			<div class="card-header"> Recent Bookings </div>
		
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"> Booking ID </th>
							<th scope="col"> User ID </th>
							<th scope="col"> Trek ID </th>
							<th scope="col"> Booking Date </th>
							<th scope="col"> Status </th>
							<th scope="col"> Action </th>
						</tr>
					</thead>
					
					<tbody>
						{% if recent_bookings %}
							{% for booking in recent_bookings %}
							<tr>
								<td>{{ booking.booking_id }}</td>
								<td>{{ booking.user_id }}</td>
								<td>{{ booking.trek_id }}</td>
								<td>{{ booking.booking_date }}</td>
								<td>
									<select class="form-select form-select-sm">
										<option value="booked"
										{% if trek.status == "booked" %}selected{% endif %} >
											Booked 
										</option>
										
										<option value="cancelled"
										{% if trek.status == "cancelled" %}selected{% endif %} >
											Cancelled 
										</option>
										
										<option value="completed"
										{% if trek.status == "completed" %}selected{% endif %} >
											Completed 
										</option>
									</select>
								</td>
								<td>
									<button class="btn"> <i class="bi bi-floppy"></i> </button>
									<button class="btn"> <i class="bi bi-pencil-square"></i> </button>
									<button class="btn"> <i class="bi bi-trash"></i> </button>
								</td>
							</tr>
							{% endfor %}
						{% else %}
						<tr> 
							<td colspan="6">No Bookings yet </td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			
			<div class="card-footer">
				<button class="btn btn-primary"> View All </button>
			</div>

		</div>
	</div>

	<div class="col">
		<div class="card">
			<div class="card-header"> Recent Staff Registrations </div>

			<div class="card-body">

				<table class="table">
					<thead>
						<tr>
							<th scope="col"> Staff ID </th>
							<th scope="col"> Name </th>
							<th scope="col"> Contact </th>
							<th scope="col"> Status </th>
							<th scope="col"> Action </th>
						</tr>
					</thead>
					
					<tbody>
						{% if recent_staff %}
							{% for staff in recent_staff %}
							<tr>
								<td>{{ staff.staff_id }}</td>
								<td>{{ staff.staff_name }}</td>
								<td>{{ staff.staff_contact }}</td>
								<td>
									<select class="form-select form-select-sm">
										<option value="active"
										{% if trek.status == "active" %}selected{% endif %} >
											Active 
										</option>
										
										<option value="inactive"
										{% if trek.status == "inactive" %}selected{% endif %} >
											Inactive 
										</option>
										
										<option value="pending"
										{% if trek.status == "pending" %}selected{% endif %} >
											Pending 
										</option>
									</select>
								</td>
								<td>
									<button class="btn"> <i class="bi bi-floppy"></i> </button>
									<button class="btn"> <i class="bi bi-pencil-square"></i> </button>
									<button class="btn"> <i class="bi bi-trash"></i> </button>
								</td>
							</tr>
							{% endfor %}
						{% else %}
						<tr> 
							<td colspan="6">No Staff Available </td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			
			<div class="card-footer">
				<button class="btn btn-primary"> View All </button>
			</div>
			
		</div>
	</div>

</div>

<div class="row mt-3">
	<div class="col">
		<div class="card">

			<div class="card-header"> Recent Treks </div>

			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"> Trek ID </th>
							<th scope="col"> Location </th>
							<th scope="col"> Start Date </th>
							<th scope="col"> End Date </th>
							<th scope="col"> Status </th>
							<th scope="col"> Action </th>
						</tr>
					</thead>
					<tbody>
						{% if recent_treks %}
							{% for trek in recent_treks %}
							<tr>
								<td>{{ trek.trek_id }}</td>
								<td>{{ trek.trek_location }}</td>
								<td>{{ trek.start_date }}</td>
								<td>{{ trek.end_date }}</td>
								<td>
									<select class="form-select form-select-sm">
										<option value="pending"
										{% if trek.status == "pending" %}selected{% endif %} >
											Pending 
										</option>
										
										<option value="approved"
										{% if trek.status == "approved" %}selected{% endif %} >
											Approved 
										</option>
										
										<option value="open"
										{% if trek.status == "open" %}selected{% endif %} >
											Open 
										</option>
										
										<option value="close"
										{% if trek.status == "close" %}selected{% endif %} >
											Close 
										</option>
										
										<option value="completed"
										{% if trek.status == "completed" %}selected{% endif %} >
											Completed 
										</option>
									</select>
								</td>
								<td>
									<button class="btn"> <i class="bi bi-floppy"></i> </button>
									<button class="btn"> <i class="bi bi-pencil-square"></i> </button>
									<button class="btn"> <i class="bi bi-trash"></i> </button>
								</td>
							</tr>
							{% endfor %}
						{% else %}
						<tr> 
							<td colspan="6">No treks available </td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			
			<div class="card-footer">
				<button class="btn btn-primary"> Add Trek </button>
				<button class="btn btn-primary"> View All </button>
			</div>

		</div>
	</div>

	<div class="col">
		<div class="card">

			<div class="card-header"> Recent User Registrations </div>

			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"> User ID </th>
							<th scope="col"> Name </th>
							<th scope="col"> Contact </th>
							<th scope="col"> Status </th>
							<th scope="col"> Action </th>
						</tr>
					</thead>
					
					<tbody>
						{% if recent_users %}
							{% for user in recent_users %}
							<tr>
								<td>{{ user.user_id }}</td>
								<td>{{ user.user_name }}</td>
								<td>{{ user.user_contact }}</td>
								<td>
									<select class="form-select form-select-sm">
										<option value="active"
										{% if trek.status == "active" %}selected{% endif %} >
											Active 
										</option>
										
										<option value="inactive"
										{% if trek.status == "inactive" %}selected{% endif %} >
											Inactive 
										</option>
									</select>
								</td>
								<td>
									<button class="btn"> <i class="bi bi-floppy"></i> </button>
									<button class="btn"> <i class="bi bi-pencil-square"></i> </button>
									<button class="btn"> <i class="bi bi-trash"></i> </button>
								</td>
							</tr>
							{% endfor %}
						{% else %}
						<tr> 
							<td colspan="6">No Users Available </td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			
			<div class="card-footer">
				<button class="btn btn-primary"> View All </button>
			</div>

		</div>
	</div>

</div>

{% endblock %}


	
