{% extends "admin/admin_base.html" %}

{% block title %}
Manage Treks
{% endblock %}

{% block main_content %}

<h1 class="dashboard-header text-left"> Manage Treks </h1>

<div class="row p-3 mt-2">

	<div class="col">
	
		<div class="card d-flex align-items-center">
		
			<div class="card-body">
				Total Treks
			</div>
			
			<div class="card-body">
				{{ total_treks }}
			</div>
			
		</div>
			
	</div>
	
	<div class="col">
	
		<div class="card d-flex align-items-center">
		
			<div class="card-body">
				Open Treks
			</div>
			
			<div class="card-body">
				{{ open_treks }}
			</div>
			
		</div>
		
	</div>

	<div class="col">
		
		<div class="card d-flex align-items-center">
		
			<div class="card-body">
				Closed Treks
			</div>
			
			<div class="card-body">
				{{ closed_treks }}
			</div>
			
		</div>
		
	</div>
	
	<div class="col">
		
		<div class="card d-flex align-items-center">
		
			<div class="card-body">
				Unassigned Treks
			</div>
			
			<div class="card-body">
				{{ unassigned_treks }}
			</div>
			
		</div>
		
	</div>

</div>


<form method="GET" action="{{ url_for('admin.treks') }}">

	<div class="row mt-2 g-3 align-items-end">
	
		<div class="col-lg-1">
			<label class="form-label">Trek ID</label>

			<input
				type="number"
				class="form-control"
				name="trek_id"
				value="{{ request.args.get('trek_id', '') }}"
				placeholder="ID">
		</div>

		<div class="col-lg-4">
			<label class="form-label">Trek Name</label>

			<div class="input-group">
				<span class="input-group-text">
				    <i class="bi bi-search"></i>
				</span>

				<input
				    type="text"
				    class="form-control"
				    name="trek_name"
				    value="{{ request.args.get('trek_name', '') }}"
				    placeholder="Search by name">
			</div>
		</div>

		<div class="col-lg-2">
			<label class="form-label">Location</label>

			<input
				type="text"
				class="form-control"
				name="trek_location"
				value="{{ request.args.get('trek_location', '') }}"
				placeholder="Location">
		</div>
		
		<div class="col-lg-1">
			<label class="form-label">Staff ID</label>

			<input
				type="number"
				class="form-control"
				name="staff_id"
				value="{{ request.args.get('staff_id', '') }}"
				placeholder="Trek ID">
		</div>

		<div class="col-lg-2">
		
			<label class="form-label">Status</label>

			<select class="form-select" name="status">
				<option value="" {% if request.args.get('status', '') == '' %} selected {% endif %} >All</option>
				<option value="pending" {% if request.args.get('status', '') == 'pending' %} selected {% endif %} >Pending</option>
				<option value="approved" {% if request.args.get('status', '') == 'approved' %} selected {% endif %} >Approved</option>
				<option value="open" {% if request.args.get('status', '') == 'open' %} selected {% endif %} >Open</option>
				<option value="closed" {% if request.args.get('status', '') == 'closed' %} selected {% endif %} >Closed</option>
				<option value="completed" {% if request.args.get('status', '') == 'completed' %} selected {% endif %} >Completed</option>
			</select>
			
		</div>

		<div class="col-lg-2">
			<div class="d-flex gap-2 justify-content-end">

				<button type="submit" class="btn btn-primary">
				    Search
				</button>

				<a class="btn btn-outline-secondary" href="{{ url_for('admin.users') }}">
				    Reset
				</a>

			</div>
		</div>

	</div>
	
</form>


<div class="card shadow-sm mt-4">

	<div class="card-header d-flex justify-content-end align-items-center">
	
		<div class="me-auto">

			<a href="#" class="btn btn-primary">

				<i class="bi bi-plus me-1"></i>

				Create Trek

			</a>

		</div>
	
		<span class="small text-muted">
		    {{ treks|length }} record(s)
		</span>
	</div>

	<div class="table-responsive">

		<table class="table table-hover align-middle mb-0">

		    <thead>
		        <tr>
		            <th scope="col">ID</th>
		            <th scope="col">Name</th>
		            <th scope="col">Location</th>
		            <th scope="col">Difficulty</th>
		            <th scope="col">Available Slots<th>
		            <th scope="col">Assigned Staff</th>
		            <th scope="col">Start Date</th>
		            <th scope="col">End Date</th>
		            <th scope="col">Status</th>
		            <th scope="col" class="text-center">Action</th>
		        </tr>
		    </thead>

		    <tbody>

		        {% for trek in treks %}

		        <tr>

		            <td>{{ trek.trek_id }}</td>

		            <td>{{ trek.trek_name }}</td>

		            <td>{{ trek.trek_location }}</td>

		            <td>{{ trek.difficulty }}</td>
		            
		            <td>{{ trek.available_slots }}</td>
		            
		            <td>{{ trek.assigned_staff_id }}</td>
		            
		            <td>{{ trek.start_date }}</td>
		            
		            <td>{{ trek.end_date }}</td>

		            <td>
						
						<span class="badge

							{% if trek.status == 'pending' %}

								text-bg-warning

							{% elif trek.status == 'approved' %}

								text-bg-primary

							{% elif trek.status == 'open' %}

								text-bg-success

							{% elif trek.status == 'closed' %}

								text-bg-danger

							{% elif trek.status == 'completed' %}

								text-bg-secondary

							{% endif %}

						">

							{{ trek.status.title() }}

						</span>
		                
		            </td>

		            <td>

		                <div class="d-flex justify-content-center gap-2">

		                    <button
		                        class="btn btn-sm btn-outline-primary"
		                        title="Edit">
		                        <i class="bi bi-pencil-square"></i>
		                    </button>

		                    <button
		                        class="btn btn-sm btn-outline-danger"
		                        title="Delete">
		                        <i class="bi bi-trash"></i>
		                    </button>

		                </div>

		            </td>

		        </tr>

		        {% else %}

		        <tr>

		            <td colspan="12" class="text-center py-4">
		                No Trek found.
		            </td>

		        </tr>

		        {% endfor %}

		    </tbody>

		</table>

	</div>

</div>


{% endblock %}





